<%
title "Your inactive listings"
javascript 'dashboard'
suppress_right_sidebar
%>

<h2>Your inactive listings</h2>
<div class="section">
  <% if @listings.any? %>
    <table>
      <thead>
        <tr>
          <th></th>
          <th><%= sortable :title, 'Title', :default => true %></th>
          <th class="numeric"><%= sortable :total_price, 'Price' %></th>
          <th class="numeric"><%= sortable :shipping, 'Shipping' %></th>
          <th><%= sortable :created, 'Created' %></th>
          <th class="center">Next step</th>
        </tr>
      </thead>
      <tbody data-role='dashboard-listings'>
        <% @listings.each do |listing| %>
          <%= render 'inactive_listing', :listing => listing %>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>You don't have any inactive listings.</p>
  <% end %>
</div>

<%= paginate @listings %>
