<div id="footer-wrapper">
  <div id="footer-content">
    <hr />
    <% if footer_menu_active? -%>
      <ul class="menu">
        <li><%= link_to 'Help', 'http://help.copious.com' %></li>
        <li><%= link_to 'About Us', 'http://corporate.copious.com/about-us' %></li>
        <li><%= link_to 'Jobs', 'http://corporate.copious.com/jobs' %></li>
        <li><%= link_to 'Blog', 'http://corporate.copious.com/blog' %></li>
        <li><%= link_to 'Twitter', 'http://corporate.copious.com/twitter' %></li>
        <li><%= link_to 'Facebook', 'http://www.facebook.com/pages/Copious/201076446577603', :target => '_blank' %></li>
      </ul>
    <% end -%>

    <ul class="disclaimer">
      <li>© <%= Date.today.year %> Utah Street Labs, Inc. All rights reserved.</li>
      <li><%= link_to_terms 'Terms of Use' %></li>
      <li><%= link_to_privacy_policy 'Privacy' %></li>
      <li><%= link_to_transaction_policy 'Transaction Policy' %></li>
    </ul>
  </div>
  <% if content_for? :sponsors %>
    <div class="sponsors">
      <%= yield :sponsors %>
    </div>
  <% end %>
</div>
