<%
hide_masthead
hide_footer
body_class 'brad_landing_comingsoon'
%>
<div id="main-content" class="span15" style="margin: 0px auto 20px;">
  <div class="top-section">
    <a id= "brad_closet" href="/profiles/mr-brad-goreski?utm_source=LP&utm_medium=Blogger&utm_campaign=Brad_launch" class="button xlarge primary">Take me to Brad's closet</a>
  </div>

  <div class="pull-left" style="position: relative;">
    <%#  PRODUCT CARDS  %>
    <ul id="brad_listings">
      <%#  PRODUCT CARD 1  %>
      <li class="card-container logged-in liked" data-role="product-card" data-timestamp="0">
        <a href="/profiles/mr-brad-goreski?utm_source=LP&utm_medium=Blogger&utm_campaign=Brad_launch">
          <div class="product-card-v3">
            <div>
              <div class="product-image-container">
                <%= image_tag 'landing/featured/brad/7.jpg', alt: '', class: 'product-image', data: { role: 'product-image' } %>
              </div>
              <div class="dotdotdot" style="height: auto; width: auto;">
                <span class="product-title ellipsis">Prada Spazzolato Lux Nero+Pervinca sz 8</span>
              </div>
              <div class="product-info">
                <div class="pull-left">
                  <div class="price-box">
                    <span class="price">$20.00</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </li>

      <%#  PRODUCT CARD 2  %>
      <li class="card-container logged-in liked" data-role="product-card" data-timestamp="0">
        <a href="/profiles/mr-brad-goreski?utm_source=LP&utm_medium=Blogger&utm_campaign=Brad_launch">
          <div class="product-card-v3">
            <div>
              <div class="product-image-container">
                <%= image_tag 'landing/featured/brad/14.jpg', alt: '', class: 'product-image', data: { role: 'product-image' } %>
              </div>
              <div class="dotdotdot" style="height: auto; width: auto;">
                <span class="product-title ellipsis">Leather Harrington Jacket</span>
              </div>
              <div class="product-info">
                <div class="pull-left">
                  <div class="price-box">
                    <span class="price">$20.00</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </li>

      <%#  PRODUCT CARD 3  %>
      <li class="card-container logged-in liked" data-role="product-card" data-timestamp="0">
        <a href="/profiles/mr-brad-goreski?utm_source=LP&utm_medium=Blogger&utm_campaign=Brad_launch">
          <div class="product-card-v3">
            <div>
              <div class="product-image-container">
                <%= image_tag 'landing/featured/brad/15.jpg', alt: '', class: 'product-image', data: { role: 'product-image' } %>
              </div>
              <div class="dotdotdot" style="height: auto; width: auto;">
                <span class="product-title ellipsis">Westward Leaning N°9.5 \\ Color Revolution Sunglasses</span>
              </div>
              <div class="product-info">
                <div class="pull-left">
                  <div class="price-box">
                    <span class="price">$20.00</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </li>

      <%#  PRODUCT CARD 4  %>
      <li class="card-container logged-in liked" data-role="product-card" data-timestamp="0">
        <a href="/profiles/mr-brad-goreski?utm_source=LP&utm_medium=Blogger&utm_campaign=Brad_launch">
          <div class="product-card-v3">
            <div>
              <div class="product-image-container">
                <%= image_tag 'landing/featured/brad/13.jpg', alt: '', class: 'product-image', data: { role: 'product-image' } %>
              </div>
              <div class="dotdotdot" style="height: auto; width: auto;">
                <span class="product-title ellipsis">Dolce &amp; Gabbana Leather Bomber Jacket</span>
              </div>
              <div class="product-info">
                <div class="pull-left">
                  <div class="price-box">
                    <span class="price">$20.00</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </li>

      <%#  PRODUCT CARD 5  %>
      <li class="card-container logged-in liked" data-role="product-card" data-timestamp="0">
        <a href="/profiles/mr-brad-goreski?utm_source=LP&utm_medium=Blogger&utm_campaign=Brad_launch">
          <div class="product-card-v3">
            <div>
              <div class="product-image-container">
                <%= image_tag 'landing/featured/brad/10.jpg', alt: '', class: 'product-image', data: { role: 'product-image' } %>
              </div>
              <div class="dotdotdot" style="height: auto; width: auto;">
                <span class="product-title ellipsis">La Casa de las Botas Men's Brown Leather Boots</span>
              </div>
              <div class="product-info">
                <div class="pull-left">
                  <div class="price-box">
                    <span class="price">$20.00</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </li>

      <%#  PRODUCT CARD 6  %>
      <li class="card-container logged-in liked" data-role="product-card" data-timestamp="0">
        <a href="/profiles/mr-brad-goreski?utm_source=LP&utm_medium=Blogger&utm_campaign=Brad_launch">
          <div class="product-card-v3">
            <div>
              <div class="product-image-container">
                <%= image_tag 'landing/featured/brad/11.jpg', alt: '', class: 'product-image', data: { role: 'product-image' } %>
              </div>
              <div class="dotdotdot" style="height: auto; width: auto;">
                <span class="product-title ellipsis">Ferragamo Red Suede Boat Shoes</span>
              </div>
              <div class="product-info">
                <div class="pull-left">
                  <div class="price-box">
                    <span class="price">$20.00</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </li>
    </ul>

    <%#  SIDEBAR  %>
    <div id="sidebar-text">
      <h2>Feel great shopping</h2>
      <p style="margin-top: 16px;">Proceeds go to Brad's favorite<br> charities, <strong>The Trevor Project</strong> and <br><strong>Dogs Without Borders</strong></p>
      <a href="http://help.copious.com/customer/portal/articles/758133-charity-shop-for-a-cause-with-brad-goreski?utm_source=LP&utm_medium=Blogger&utm_campaign=Brad_launch">Learn More</a>
    </div>
  </div>

  <div class="section">
    <h2>Shop Brad's favorite brands</h2>
    <%= image_tag 'landing/featured/brad/brands.jpg' %>
  </div>

  <div class="coming-soon">
    <%= image_tag 'landing/featured/brad/comingsoon.png', alt: 'COMING SOON' %>
  </div>
</div>
