<div id="main-content" class="span16" style="margin-top: 15px;">

  <h1>How to Sell on Copious</h1>
  <div class="buying-container">
    <%= link_to 'Learn about buying', info_path(:buy), class: "buying" %>
    <div class="point-arrow-border"></div>
    <div class="point-arrow"></div>
  </div>

  <div class="top-message" style="margin-top: 4px;">
    <h3>Get Started &amp; make room in your life for the stuff you love.</h3>
    <%= link_to 'Create a Listing', listings_path, id: "sell_button", class: "button primary large", method: :POST %>
  </div>

  <ul class="how-to-sell-container">
    <li>
      <div class="image-container" style="margin-right: 2px; margin-left: 0px;">
        <%= image_tag 'landing/howto/hts1.jpg', style: "width: 434px;" %>
      </div>
      <div class="copy-container" style="padding-right: 0px; margin-top: 8px;">
        <h2 style="margin-top: 53px; margin-left: 0px;">Become a Seller on Copious</h2>
        <span class="copy">
          Copious is giving a face to the online marketplace. <br/>
          We provide the place to sell your goods and let you use the networks you’ve already built on Facebook and
          Twitter to tap the buying public. Your friends, friends of friends, vintage lovers, cat people...you get
          the idea, are ready to be hooked up to what you’re hawking.
        </span>
      </div>
    </li>
    <li style="padding: 50px 0px;">
      <div class="image-container" style="margin-top: 19px;">
        <%= image_tag 'landing/seller/seller-landing.jpg', style: "width: 450px;" %>
      </div>
      <div class="copy-container" style="width: 470px;">
        <h2 style="margin-bottom: 10px; margin-top: 10px;">What to Sell</h2>
        <h3 style="padding: 6px 0px 1px;">Who's coveting your "clutter"?</h3>
        <span class="copy" style="width: 100%;">
          Dig into the dark recesses of your closet to find what’s lurking just below your wardrobe’s surface.
          Whether you're interested in ridding yourself of a designer dress worn once, a pair of heels still boxed
          but too nice to give away, or the knit hat your in-laws gave you last season; if it needs to find a new
          home, Copious is the place to list it.
        </span>

        <h2 style="padding: 6px 0px 1px;">Market Your Vintage &amp; Handmade Goodies</h2>
        <span class="copy" style="width: 100%;">
          Have a passion to make things yourself?  List your latest unique creations on Copious and get the word out.
        </span>
      </div>
    </li>
    <li>
      <%= image_tag 'landing/howto/good-pictures.png', style: "float: right; margin-right: 7px;" %>
      <div class="copy-container"  style="margin-top: 58px;">
        <h2 style="font-size: 30px;">It's all about the pictures</h2>
        <span class="copy" style="width: 83%;">
          Customers need to see it for themselves. And the next best thing to eyeing an item in person is having a
          fetching photograph.  Copious makes it easier than ever to release your inner-Avedon; add any Instagram
          photo to your listing quickly and painlessly and make your wares look fabulous. <br /><br/>

          Buyers love to see a product in action with people vs. just a plain product shot. Put it on and snap a photo.
          Or, grab a friend and have them model it for you.
        </span>
      </div>
    </li>
    <li>
      <div class="image-container">
        <%= image_tag 'landing/howto/hts-tellstory.jpg' %>
      </div>
      <div class="copy-container" style="margin-top: 11px;">
        <h2 style="font-size: 30px;">Tell the Story</h2>
        <span class="copy">
          Buyers have to know what they are looking at. Craft a strong listing with an accurate and detailed description
          of your item (including any imperfections) that will not only entice potential customers but let them know exactly
          what they’re getting. <br /><br />

          Every item has a special backstory.  The very best listings on Copious include both straight facts and personal
          details to kindle those “That’s perfect!” buying moments.
        </span>
      </div>
    </li>
    <li style="padding: 50px 0px;">
      <%= image_tag 'landing/howto/hts-shield.png', style: "float: right; margin-right: 78px; margin-top: 9px;" %>
      <div class="copy-container">
        <h2>Sell Safely</h2>
        <span class="copy">
          Copious sellers can rest easy knowing they are protected from potential fraud. Buyers pay up front, the funds go
           into a trusted third-party account and are distributed to you via Paypal or straight into your bank account once
            the sale is completed. <br /><br />

          A mix of good people and good technology means no good deal will ever go bad on Copious.
        </span>
      </div>
    </li>
    <li style="padding: 50px 0px;">
      <%= image_tag 'landing/howto/hts-shipping.png', style: "float: left; margin-left: 24px; margin-top: 42px;" %>
      <div class="copy-container" style="margin-top: -5px; width: 454px;">
        <h2 style="line-height: 39px;">Shipping is super easy <br /> with USPS or UPS</h2>
        <span class="copy">
          Once you’ve made your sale, you’re responsible for choosing a shipping method. Whether USPS or UPS, find the
          most cost effective and reliable carrier. Provide a tracking number so everyone knows where your stuff is every
           step of the way.
        </span>
      </div>
    </li>
  </ul>

  <div class="top-message">
    <h3>Get Started &amp; make room in your life for the stuff you love.</h3>
    <%= link_to 'Create a Listing', listings_path, id: "sell_button", class: "button primary large", method: :POST %>
  </div>
</div>
